



div.summoners
{
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  bottom: 0;
  left: 0;
}
p #bot_text
{
  position: absolute;
  bottom: 0;
}
div #summ1, #summ2, #summ3, #summ4, #summ5
{
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: bottom;
  background-color: transparent;
  color: #DDDDDD;

}


div.middle
{
  width: 100%;
  max-width: 830px;
  margin: 50px auto;
}

div.results
{
  width: 65%;
  margin: auto;
  background-color: #c1c1c1;
}

div.tbl 
{
  width: 14%;
  margin: 3px;
  background-color: lightgrey;
  display: inline-block;
}


a:visited
{
  text-decoration: none;
}

a:hover
{
  text-decoration: none;
}

a:link
{
  text-decoration: none;
}

a:active
{
  text-decoration: none;
}
h1 {
  font-family: 'Gentium Basic', serif;
  font-size: 35px;
  background-color: #145B5F;
  background: linear-gradient(#187277,#0d2d2f);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  color: #DDDDDD;
}

h2 {
  font-family: 'Gentium Basic', serif;
  font-size: 32px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  color: #808080;
}


h3
{
  font-family: 'Gentium Basic', serif;
  font-size: 28px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  color: #616161;
}

h4
{
  font-family: 'Gentium Basic', serif;
  font-size: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: auto;
  text-align: center;
  color: #808080;
}

p
{
  font-family: 'Gentium Basic', serif;
  font-size: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: auto;
  text-align: center;
  color: #808080;
}



body 
{
  background-image: url('../imgs/parchment.png');
}

div.body_wrapper
{
  background-color: black;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0 30px 30px black ;
}


input[type="submit"] {
  font-family: 'Gentium Basic', serif;
  background-color: transparent;
  margin: auto;
  border: 1px;
  border-radius: 3px;
  color: #111;
  padding: 2px 5px;
  text-align: center;
  display: block;
  font-size: 40px;
  transition-duration: .4s;
  cursor: pointer;
}




input[type="submit"]:hover{
  font-family: 'Gentium Basic', serif;
  background-color: transparent;
  border: 1px;
  border-radius: 3px;
  color: #6495ED;
  text-align: center;
  display: block;
  font-size: 40px;
  transition-duration: .4s;
  cursor: pointer;
}

#green input[type="submit"]:hover{
  color: #145B5F;
}


input.box {
  font-family: 'Gentium Basic', serif;
  color: ;
  display:block;
  padding: 0px;
  width: 300px;
  height: 50px;
  margin:auto;
  background-color: transparent;
  border-color: rgba(20, 91, 95, .5);
  border-radius: 0px;
  border-right-style: solid;
  border-right-width: 150px;
  border-left-style: solid;
  border-left-width: 150px;
  border-top-style: solid;
  border-top-width: 0px;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  transition-duration: .4s;
}

button {
  font-family: 'Gentium Basic', serif;
  background-color: transparent;
  display:block;
  margin:auto;
  border: 1px;
  border-radius: 3px;
  text-align: center;
  font-size: 28px;
  transition-duration: .45s;
  cursor: pointer;
}


.buttonAdd:hover {
        color: #3CB371;
        transition-duration: .4s;
}