
a 
{
  outline: none;
  text-decoration: none;
}
div.about, .about2
{
  display: block;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

body 
{
  margin: 0 0 0 0;
}

button {
  font-family: 'Gentium Basic', serif;
  background-color: transparent;
  display:block;
  margin:auto;
  color: #888888;
  outline: none;
  border: 1px;
  border-radius: 3px;
  text-align: center;
  font-size: 28px;
  transition-duration: .45s;
  cursor: pointer;
}

.buttonAdd:hover {
  color: #3CB371;
  transition-duration: .4s;
}

div.middle
{
  width: 100%;
  max-width: 830px;
  margin: 50px auto;
}

div.readText 
{
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: bottom;
  background-color: rgba(0,0,0,.7);
  z-index: 1;
}

div.results
{
  width: 65%;
  margin: auto;
  background-color: #c1c1c1;
}

div.summoners
{
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  bottom: 0;
  left: 0;
}

div#summ1, #summ2, #summ3, #summ4, #summ5
{
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: bottom;
  background-color: transparent;
  color: #DDDDDD;
  z-index: 0;
}

h1 {
  font-family: 'Gentium Basic', serif;
  font-size: 35px;
  background-color: #145B5F;
  -webkit-box-shadow: 0px 20px 60px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 20px 60px 0px rgba(0,0,0,1);
  box-shadow: 0px 20px 60px 0px rgba(0,0,0,1);
  background: linear-gradient(#187277,#0d2d2f);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  margin-top: 0px;
  text-align: center;
  color: #DDDDDD;
}

h2.error {
  font-family: 'Gentium Basic', serif;
  font-size: 32px;
  display: block;
  margin-top: 300px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  color: #888888;
}


h3
{
  font-family: 'Gentium Basic', serif;
  font-size: 28px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  text-align: center;
  color: #888888;
}

h4
{
  font-family: 'Gentium Basic', serif;
  font-size: 24px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width: auto;
  text-align: center;
  color: #888888;
}

html
{
  background-image: url('../imgs/parchment.png');
}

input[type="submit"] 
{
  font-family: 'Gentium Basic', serif;
  margin: auto;
  outline: none;
  border: 0px;
  padding: 2px 5px;
  text-align: center;
  display: block;
  font-size: 40px;
  transition-duration: .4s;
  cursor: pointer;
}

input[type="text"]:focus 
{
  font-family: 'Gentium Basic', serif;
  margin: auto;
  background-color: transparent;
  color: rgba(20, 91, 95, .5);
  border: 0px;
  outline: none;
  padding: 2px 5px;
  text-align: center;
  display: block;
  font-size: 40px;
  transition-duration: .4s;
  cursor: pointer;
}

input[type="submit"]
{
  font-family: 'Gentium Basic', serif;
  color: #888888;
  background-color: transparent;
  border: 0px;
  text-align: center;
  display: block;
  font-size: 40px;
  transition-duration: .4s;
  cursor: pointer;
}

input[type="submit"]:hover
{
  font-family: 'Gentium Basic', serif;
  color: #3CB371;
  border: 0px;
  text-align: center;
  display: block;
  font-size: 40px;
  transition-duration: .4s;
  cursor: pointer;
}

input.box 
{
  font-family: 'Gentium Basic', serif;
  display:block;
  padding: 0px;
  width: 300px;
  height: 50px;
  outline: none;
  margin:auto;
  color: #DDDDDD;
  background-color: transparent;
  border-color: rgba(20, 91, 95, .5);
  border-radius: 1px;
  border-right-style: solid;
  border-right-width: 150px;
  border-left-style: solid;
  border-left-width: 150px;
  border-top-style: solid;
  border-top-width: 0px;
  border-bottom-style: solid;
  border-bottom-width: 0px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
  transition-duration: .2s;
}

p
{
  font-family: 'Gentium Basic', serif;
  font-size: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 50px;
  padding: 5px;
  width: auto;
  text-align: center;
  color: #808080;
}

p #bot_text
{
  position: absolute;
  bottom: 0;
}

