<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='riot.css') }}" />
        <link href='https://fonts.googleapis.com/css?family=Gentium+Basic:400,700italic' rel='stylesheet' type='text/css'>
        <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
    </head>
    <body>
        <table border="0" cellpadding="10">
              <h1>About</h1>
        </table>
        <div class="about">
            <p>
                SummonSquad is a website that allows you to reach your full League of Legends potential by building
                you the ideal team.
                <br>
                There are 5 players on each team, and over 130 champions...trust us when we say there are a lot of
                possible team comps. Don't worry though, we'll give you the best one and let you focus on playing.
                <br>
                Let us know what you think about it!
                <br>
                <br>
                If you're interested in the implementation of the team building code, reach out to "KmancXC" or
                "F O R C I N it" on LoL!
                <br>
                <br>
                It uses a basic genetic algorithm to seed team comps and then improve on the seed teams until the i
                improvement from one iteration to the next is negligible (ie, we found the ideal team).
                <br>
                We think it's pretty cool =D
                <br>
                <br>
                Developed by Jiaxsun and KmancXC
            </p>
	    </div>
        <div class="about2">
            <p>
                KmancXC did most of the back-end teambuilding code, which is written all in Python. It was originally
                designed as a command line script because that's all he knew how to do, but he recently migrated the
                entire site to a Flask app for maintainability and future development purposes.
                <br>
                <br>
                Jiaxsun did pretty much all of the formatting and website setup from getting an EC2 instance to host
                the site on to maintaining the environment. He also did the webbsite design and formatting which was
                originally in PHP (again, all he knew at the time) but was recently migrated to Javascript and Jinja
                templating to integrate better with the Flask framework.
                <br>
            </p>
	    </div>
        <form method="post">
            <button type="submit" name="button" class="btn btn-default" value="home">Home</button>
        </form>
    </body>
</html>
