<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='riot.css') }}" />
        <link href='https://fonts.googleapis.com/css?family=Gentium+Basic:400,700italic' rel='stylesheet' type='text/css'>
        <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/summoner_stuff.js') }}"></script>
    </head>
    <table border="0" cellpadding="10">
          <h1>SummonSquad</h1>
    </table>

    <p>What summoners are joining you today in your quest to become the ultimate squad?</p>

	<form method="post">

		<input type="text" value="Summoner 1" name="sum1" class="box" id="s1"><br>
		<input type="text" value="Summoner 2" name="sum2" class="box" id="s2"><br>
		<input type="text" value="Summoner 3" name="sum3" class="box" id="s3"><br>
		<input type="text" value="Summoner 4" name="sum4" class="box" id="s4"><br>
		<input type="text" value="Summoner 5" name="sum5" class="box" id="s5">
		<br>
		<br>
		<div id="options">
			<select name="region">
				<option value="NA">NA</option>
				<option value="BR">BR</option>
				<option value="EUNE">EUNE</option>
				<option value="EUW">EUW</option>
				<option value="JP">JP</option>
				<option value="KR">KR</option>
				<option value="LAN">LAN</option>
				<option value="LAS">LAS</option>
				<option value="OCE">OCE</option>
				<option value="TR">TR</option>
				<option value="RU">RU</option>
			</select>
			<br>
			<br>
			<select name="champions">
				<option value=15>15</option>
				<option value=16>16</option>
				<option value=17>17</option>
				<option value=18>18</option>
				<option value=19>19</option>
				<option value=20>20</option>
				<option value=21>21</option>
				<option value=22>22</option>
				<option value=23>23</option>
				<option value=24>24</option>
				<option value=25>25</option>
				<option value=26>26</option>
				<option value=27>27</option>
				<option value=28>28</option>
				<option value=29>29</option>
				<option value=30>30</option>
			</select>
		</div>

		<br>
		<button type="submit" name="button" class="btn btn-default" value="submit">Summon the Squad</button>
		<br>
		<button type="submit" name="button" class="btn btn-default" value="about">About</button>

	</form>

  </body>
</html>
